.body-wrapper{
 height: 100%;
 width:100%;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;

}
.header{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid rgb(197, 193, 193, 0.515) ;
    display: flex;
    justify-content: center;
    background-color: rgba(237, 238, 239, 0.43);
    font-family: Arial, sans-serif;
    color: rgb(92, 39, 153);
    font-weight: bold;
    font-size: 30px;
}
.card-wrapper{
    display: flex;               
}
.positioning-container{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;        
    justify-content: space-evenly;
    align-items: center;     
    background-color: rgba(0, 0, 0, 0.504); 
    z-index: 999;
    overflow: auto;
    
}